* {
    margin: 0;
    padding: 0;
}

.container {
    @font-face {
        font-family: "Lulo Bold";
        src: url('Lulo Bold.ttf');
    }

    font-family: "Lulo Bold";
    background-color: black;
}

header {
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 30px 0;

}

header h1,
header h2 {
    color: white;
}

/* .content {} */

.content .profile img {
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
}

.description {
    text-align: center;
}

.description h3 {
    color: white;
}